@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;1,400;1,500&display=swap');

$language_site:'ltr';
*{
    box-sizing: border-box;
}

body{
    font-family: 'Playfair Display', serif !important;
    scroll-behavior: smooth;
    
}
// start nav
nav{
    background: linear-gradient(#fffbfb,#a7a7a7) !important;
 
    border-bottom-left-radius: 25px;
    
   max-width: 100%;
    border-bottom-right-radius: 25px;

    width: 100%;
    .container{
        .menu-mobile{
            display: none ;
            .logo {
                background: url('../image/UNIMARK\ LOGO.png');
                transition: all 0.3s ease-in;
                width: 125px;
                height: 28px;
                margin: auto;
                background-size: 125px 28px;
                background-position: 0 0;
                background-repeat: no-repeat;
              }
              .logo:hover {
                background: url('../image/Path\ 12.png');
                background-size: 31px 28px;
                background-position: center center;
                background-repeat: no-repeat;
              }
            
           ul{
           
            display: flex !important;
            flex-direction: column !important;
            list-style: none !important;
        
            gap: 30px;
            li{
                svg{
                    font-size: 25px;
                }
                
                
                
                   
                
                a{
                    color: black;
                    text-decoration: none;
                    text-transform: uppercase;
                    font-weight: bold;
                    font-size: 1.2rem;
                    position: relative;
              
                &:not(:nth-child(3)):hover{
                    color: rgb(169, 3, 3);
    
                }
                &:last-child():hover{
                    color: black;

                }
               
                   
                }
                 
            
               .logo-1{
                display: none;
               }
                
            }
           }

        }
        .menu-list{
            list-style: none;
            display: flex;
            justify-content: space-between;
            align-items: center;
            align-content: center;
            .bar-icon:hover{
                display: hidden;
            }
           
            li{
                svg{
                    font-size: 25px;
                }
                
                
                    .logo {
                        background: url('../image/UNIMARK\ LOGO.png');
                        transition: all 0.3s ease-in;
                        width: 125px;
                        height: 28px;
                        margin: auto;
                        background-size: 125px 28px;
                        background-position: 0 0;
                        background-repeat: no-repeat;
                      }
                      .logo:hover {
                        background: url('../image/Path\ 12.png');
                 
                       background-size: 31px 28px;
                        background-position: center center;
                        background-repeat: no-repeat;
                      }
                
                a{
                    color: black;
                    text-decoration: none;
                    text-transform: uppercase;
                    font-size: 0.8rem;
                    font-weight: bold;
                    position: relative;
              
                &:not(:nth-child(3)):hover{
                    color: rgb(169, 3, 3);
    
                }
                &:last-child():hover{
                    color: black;

                }
                &:last-child():hover:after{
                    color: black;
                    display: none;

                }
                &:not(:nth-child(3))::after{
                    content: '';
                    position: absolute;
                    width: 0;
                    height: 0;
                   
                   
                    background-color:none;
                    right: -20;
                     bottom: -5px;
                 
                    transition-property: width;
                }
                &:hover::after{
                    width: 100%;
                    height: 3px;
                    display: block;
                    left: 0;
                    background-color: #676B73;
                    bottom: -3px;
                    transition: .2s;
                    width: 100%;
                    right: 0;
                   
                    
                }
                   
                }
                 
            
               .logo-1{
                display: none;
               }
                
            }
            .parent:hover .logo-2{
               left: 29%;
               
                transition: 1s;
                display: none;
            }
            .parent:hover .logo-1{
                left: 40%;
                
                transition: 1s;
                display: block;
            }
      
            
           
            
        }
    }

}


// end nav

// start home
.show-vid{
    border-top-right-radius: 30px;
   border-top-left-radius: 30px;
 background-color: #E6E6E6;


div{
    video{
        max-width: 100%;
        max-height: 100%;
    }
}
}
// end home

// start border
.border{
    background-color: inherit;
    height: 70px;
    padding: 1px 0 1px 0;
    margin-top: 0;
    // border-bottom-left-radius: 25px;
   border: none;
    // border-bottom-right-radius: 25px;
}
// end border
// strart about
.about-us{
    background: url('../image/Layer\ 6.png')  ;
    background-color: #E8E8E8;
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    .box{
        position: relative;
        overflow: hidden;
        &::before{
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            border-radius: 50%;
            background-color: rgb(255 255 255 /20%);
            transform: translate(-50%,-50%);
            width: 10px;
            z-index: 5;
            height: 10px;
            opacity: 1;
            
        }
        &:hover img{
            transform: rotate(15deg) scale(1);
        }
        &:hover::before{
            animation: flashing 0.7s ;
        }
    }
    }
    .overlay{
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 0;
        background-color: #2f324043;
      
    }
    .right{
    
        img{
            max-width: 100%;
            border-radius: 50%;
            border: 7px solid #EEEEEE;
        }
       
        
    }
    .left{
        h5{
            text-align: right;
            letter-spacing: 2px;
            color: #D70000;
            font-size: 3rem;
            font-weight: normal;
           
            
            margin-right: 30px
        }
        .container{
            .row{
                img{
                    max-width: 100%;
                    max-height: 80%;
                
                }
                h3{
                    color: black;
                    font-weight: 600;

                }
                p{
                    color: black;
                    font-size: 1rem;
                }
                button{
                    a{
                        text-decoration: none;
                        color: inherit;
                    }
                    background-color: #EDEDED;
                    border-radius: 20px;
                   padding: 3px 0;
                    border: none;
                    width: 160px;
                    font-size: 1.2rem;
                    position: relative;
                    color: #D70000;
                    z-index: 5;
            
                    &::after{
                        content: '';
                        position: absolute;
                        width: 0;
                        height: 100%;
                        background-color: transparent;
                        left: 0;
                        bottom: 0;
                        transition: .5s;
                        z-index: -1;
                        border-radius: 20px;

                    }
                    &:hover::after{
                        width: 100%;
                        height: 100%;
                        background-color:#D70000 ;
                        transition: .5s;
                        z-index: -1;
                        

                    }
                    &:hover{
                        color: white;
                    }
                }
            }
        }
    }

// end about

// start carsoul
.carsoul{
    background-color: #800000;
    z-index: 3;
  
    .left-1{
        background:url('../image/left-1.png');
        background-size: 100px;
        background-repeat: no-repeat;
        background-position: center;
        height: 200px;
    }
    .left-2{
        background:url('../image/left.png');
        
        background-size: 100px;
        background-repeat: no-repeat;
        background-position: center;
        height: 200px;
    }
    .right-1{
        background:url('../image/right-1.png');
        
        background-size: 100px;
        background-repeat: no-repeat;
        background-position: center;
        height: 200px;
    }
    .right-2{
        background:url('../image/right-2.png');
       
        background-size: 100px;
        background-repeat: no-repeat;
        background-position: center;
        height: 200px;
    }
}
// end carsoul
.our-patners{
    position: relative;
    background: url(../image/UNIMARK-LOGO_icon-grey.png) #E9E9E9;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    .overlay{
        position: absolute;
        background: linear-gradient(to bottom, #fff , #E3E3E3);
      z-index: -2;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
    .row{
        
    }
    h5{
        padding: 10px 0;
        background-color:#F3F3F3;
        text-align: center;
        font-weight:100;
        color: #333;
        margin: 0 ;

    }
    img{
        max-width: 50%;
        max-height: 100%;
    }

    .border-img{
        border-right: 2px solid #CBCBCB;
        border-bottom: 2px #CBCBCB solid;
        &:last-child, &:nth-child(4),&:nth-child(8){
            border-right: none;
        }
        &:last-child, &:nth-child(9),&:nth-child(10),&:nth-child(11){
        border-bottom: none !important;
    
    }}
    
}
// start carsoul
.services{
    position: relative;
    background: url('../image/sabri-tuzcu-wunVFNvqhfE-unsplash.png');
    background-size: cover;
    background-repeat: no-repeat;

    @if($language_site=='rtl'){
     .ms-lg-5,.ms-md-5{
        margin-right: 3rem !important;
     }
    }
    @if($language_site=='ltr'){
        
    }
    .overlay{
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: #333333e8;
        z-index: -5;
    }

    .container{
        .headimg{
            max-width: 100% !important;
            max-height: 100% !important;
        }
       color: white;
        .row{
            .col-lg-4.col-md-4.col-xs-4{
                img{
                    max-width: 100px;
                }
            }

            .column-1,.column-2,.column-3{
                p{
                    max-height: 100px;
                    overflow: auto;
                    scroll-behavior: smooth;
                    -ms-overflow-style: none;  /* IE and Edge */
                    scrollbar-width: none;
                    
                }
                p::-webkit-scrollbar { 
                    display: none;  /* Safari and Chrome */
                }
            }
           div{
            button{
                border: none;
                background: #D70000;
                font-size: 12px;
                width: fit-content;
               padding: 6px;
                color: white;

               
                    a{
                        text-decoration: none;
                        color: inherit;
                    }
                   
        
                    position: relative;
                
                    z-index: 5;
            
                    &::after{
                        content: '';
                        position: absolute;
                        width: 0;
                        height: 100%;
                        background-color: transparent;
                        left: 0;
                        bottom: 0;
                        transition: .5s;
                        z-index: -1;
                       

                    }
                    &:hover::after{
                        width: 100%;
                        height: 100%;
                        background-color: #EDEDED;
                        color: #D70000;
                        transition: .5s;
                        z-index: -1;
                        

                    }
                    &:hover{
                        color: #D70000;
                    }
                

                
            }
           }
        }
        .icon{
            position: relative;
        }
       
        .icon::after{
            content: "";
            position: absolute;
            border-width: 10px;
            border-style: solid;
            height: 10px;
            top: 23%;
           @if($language_site=='rtl'){
            border-color: transparent white transparent transparent;
            right: 113px;
           
           }
           @else{
            border-color: transparent transparent transparent white;
            left: 113px;
           
           }
           
           
        }
        .icon::before{
            content: "";
            position: absolute;
            background-color: red;
            width: 20px;
            height: 20px;
            
            @if ($language_site==rtl) {
                right: 107px;
            }
           @else{
                left: 107px;
            }
            top: 23%;
            padding: 5px;
        }
       
    
    }
    }

    // strart our branches
    .branches{
     
        h3{
            background:linear-gradient(to left, #eee, #707070);
            color: white;
            width: 100%;
            margin-bottom: 0;
         }
        
         .map{
            .gray{
                width: 100%;
                height: 20px;
                border-right: 1px white solid ;

                background-color: #2F3240;
             }
            .map_bind{
                 border-right: 1px white solid ;
                 overflow: hidden;
                 iframe{
                    background-color: #333;
                 }
             }
         }
     
    }
    // end our braches
    .slick-slide h4 , .slick-slide p{
        text-align: center;
    }
    // start contact
    .contact{
        background:  linear-gradient(to bottom,#999999,#9C9C9C) ;
        
     
        color: white;
        .container{
         
       
            input[type='submit']{
              
                position: relative !important;
                z-index: 5;
                
                background-color: #EDEDED;
                  border-radius: 20px;
                   padding: 3px 0;
                    border: none;
                
                    position: relative;
                    color: #2F3240;
                    z-index: 5;
                    &::after{
                        content: '';
                        position: absolute;
                        width: 0;
                        height: 100%;
                        background-color: transparent;
                        left: 0;
                        bottom: 0;
                        transition: .5s;
                        z-index: -1;
                        border-radius: 20px;

                    }
                    &:hover::after{
                        width: 100%;
                        height: 100%;
                        background-color:#D70000 ;
                        transition: .5s;
                        z-index: -1;
                        

                    }
                    &:hover{
                        color: white;
                    }
        
            }
            h2{
                text-transform: capitalize;
                letter-spacing: 3px;
            }
            img{
                max-width: 100%;
                max-height: 100%;
            }
            div{
                p{
                    overflow: hidden;
                    width: fit-content;
                }
            }
            .contact-info{
                width: 100%;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                gap: 30px;
                .text-contact{
                    
                    p{
                        width: 100%;
                        text-align: justify;
                    height: 55%;
                    overflow: scroll;
                    overflow: auto;
                    scroll-behavior: smooth;
                    -ms-overflow-style: none;  /* IE and Edge */
                    scrollbar-width: none;

                    }
                    p::-webkit-scrollbar { 
                        display: none;  /* Safari and Chrome */
                    }
                }
                
            }
            .form{
                background:  url('../image/UNIMARK-LOGO_icon-grey.png');
                background-position:  right;
            background-repeat: no-repeat;
            background-size: cover;
                form{
                    background-color: #B7B7B7;
                    // padding: 10px 20px;
                    border-radius: 40px;
                    position: relative;
                    hr{
                        margin: 0;
                        border-top: 3px solid #969C9F;
                        opacity: 1;
                        
                    }
                    .vl {
                        position: absolute;
                        border-left: 3px solid #969C9F;
                        height: 100%;
                        top: 0;
                        left: 19%;
                      }
                
                    label{
                        text-align: center;
                        padding: 3px 25px 3px 10px;
                        text-transform: capitalize;
                        width: 20%;
                    
                    }
                    input{
                        border-radius: 10px;
                        border: none;
                        width: 70%;
                        padding: 3px 0;
                        margin-top: 11px;
                        margin-bottom: 10px;
                        margin-right: 5px;
                        padding-right: 5px;
                        &:last-of-type{
                            padding: 5px 0;
                        }


                    }
                  
                    textarea{
                        border-radius: 20px;
                    }
                }
                button{
                    border-radius: 10px;
                   padding: 2px 15px;
                   background-color: #EDEDED;
                
                   border: none;
                   position: relative;
                   color: black;
                   z-index: 5;
                   &::after{
                    content: '';
                    position: absolute;
                    width: 0;
                    height: 100%;
                    background-color: transparent;
                    left: 0;
                    bottom: 0;
                    transition: .5s;
                    z-index: -1;
                    border-radius: 10px;

                }
                &:hover::after{
                    width: 100%;
                    height: 100%;
                    background-color:#D70000 ;
                    transition: .5s;
                    z-index: -1;
                    

                }
                &:hover{
                    color: #EDEDED;
                }

                }
                
            }
        }
    }
    // end contact
    

// end carsoul

footer{
    background-color: #28282B;
    color: white;
    svg{
        color:#D70000;
        background-color: white;
        padding: 8px;
        border-radius: 50%;
    
    }
    ul{
        list-style: none;
        display: flex;
        flex-wrap: nowrap;
        li{
            margin-left: 10px;
            font-weight: 400;

        }
    }
}


@keyframes flashing{
    0%,40%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        width: 100%;
        border-radius: 50%;
        height: 100%;
    }
}

  .langselect {
    display: inline-block;
    padding:  5px 15px;
    border-radius: 5px;
    
    position: relative;
  ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 38px;
    left: 0;
    background-color: #eee;
    display: none;
    opacity: 0;
    li{
        width: 100%;
        text-align: center;  position: relative;
        a{
            color: black;
            text-decoration: none;
            &:hover{
                color: white;
            }
        }
        &::before{
  
            content: '';
            position: absolute;
            left: 0;
            background-color:#333;
            z-index: -3;
            width: 100%;
            height: 100%;
            opacity: 1;
        }
    }
  }
  }


@media (max-width:767px) {
    .menu-list{
        display: none !important;
    }
    .menu-mobile{
        display: block !important;
    }
}

@media (min-width:1081px) {
    .carsoul button:not(:disabled):nth-child(1), .carsoul [type=button]:not(:disabled):nth-child(1), .carsoul [type=reset]:not(:disabled):nth-child(1), .carsoul [type=submit]:not(:disabled):not(.slick-dots button):nth-child(1) {
    //     right: 26% !important;
    //     top: 11% !important;
    //    bottom: 0 !important;
    }
    .carsoul button:not(:disabled), .carsoul [type=button]:not(:disabled), .carsoul [type=reset]:not(:disabled), .carsoul [type=submit]:not(:disabled):not(.slick-dots button) {
       
        font-size: 40px !important;}
}

// style play icon
.carsoul{
    button:not(:disabled), [type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled):not(.slick-dots button) {
   
        width: fit-content;
        background: transparent;
        font-size: 29px;
        color: #D70000;
        border: none;
        position: relative;
        &:nth-child(1){
            right: 11%;
            top: 31%;
            z-index: 10;
            transform: rotate(180deg)
        }
        &:nth-child(3){
            left: 16%;
            bottom: 45%;
           
        
        }
      
    }
    .slick-dots{
        display: none !important;
    }
    .slick-prev:before {
        content: "" !important;
        font-family: 'FontAwesome' !important;
        font-size: 22px;
    }
    .slick-next:before {
        content: "" !important;
        font-family: 'FontAwesome' !important;
        font-size: 22px;
    }
}



// media

